.large{
  display: flex;
  height: 1000px;
  width: 1000px;
  flex-direction: column;
}
div .Box{
  height: 100%;
  width: 30%;
  border: solid thin black;

}
.row1 , .row2 , .row3 {
  height:30%;
  display:flex;
}
#c1-1 {

}
#c1-2{

}
